header {
  display: flex;
  flex-flow: column;
}

.navbar li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  height: 1em;
  align-items: center;
}

.navbar li a {
  display: block;
  color: inherit;
  padding: 0.7rem 1.2rem;
  text-decoration: inherit;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  border-radius: 1em;
}

.navbar li a:hover {
  border-color: #535bf2;
}

/* @media (min-width: 980px) {
  .navbar li {
    justify-content: flex-end;
  }
} */
