ul {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  /* align-items: stretch; */
}

li {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  height: 3em;
  align-items: center;
}

li a {
  display: block;
  color: inherit;
  padding: 0.7rem 1.2rem;
  text-decoration: inherit;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  border-radius: 1em;
}

li a:hover {
  border-color: #535bf2;
}
