#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.textcenter {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.vect {
  margin: 0.6em;
}

.vect input {
  width: 6em;
  margin: 0.2em;
  font-size: larger;
  text-align: right;
}

h2 {
  font-size: 2.2em;
}

footer {
  margin-top: 3em;
}
